DATABASE_URL=
GOOGLE_API_KEY=

# https://maps.googleapis.com/maps/api/staticmap?size=600x400&path=color:0x0000ff|weight:5|enc:{% response 'body', 'req_fbd490e433b24f649676484660c681b8', 'b64::JC5vdmVydmlld19wb2x5bGluZQ==::46b', 'never', 60 %}&markers=color:red|label:E|{% response 'body', 'req_fbd490e433b24f649676484660c681b8', 'b64::JC5vcmlnaW4ubmFtZQ==::46b', 'never', 60 %}&markers=color:red|label:D|{% response 'body', 'req_fbd490e433b24f649676484660c681b8', 'b64::JC5kZXN0aW55Lm5hbWU=::46b', 'never', 60 %}&key=AIzaSyDfRu7loHtIgS7KA3oBNfAAaozce_1yxeg